<!DOCTYPE html>
<html>
<head>
  <title>ReservoirReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'd3', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'dropdown-menu', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="style/d3.css"> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <!-- <script src="scripts/styling_script.js"></script> -->

</head>
<body>

<%= yield %>
  <%= javascript_include_tag 'd3', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'selection', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'styling_script', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'hydro_regions.json', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'us.json', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'caCountiesTopo.json', 'data-turbolinks-track' => true %>

</body>
</html>
